<ion-view view-title="PROFILE">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content overflow-scroll="false">

    <div class="b-account">

      <div class="b-account__box">
        <div class="b-account__box-top-row">
          <div class="b-account__left-col">
            <div class="b-account__name">{{acc.user_display_name}}</div>
            <div class="b-account__img"><img ng-src="{{acc.user_image}}"></div>
            <div class="b-account__accepted-challenges" ui-sref="tabsController.yChallenges">
              <img src="../img/new-design/check-circle-edge.svg" alt="">
              <span>{{acc.acc_comp_challenges_count}}</span>
            </div>
          </div>
          <div class="b-account__right-col">
            <div class="b-account__rank">
              <div class="b-account__rank-text">
                <div class="b-account__rank-text-top">RANK</div>
                <div class="b-account__rank-text-bottom">master mentor</div>
              </div>
              <div class="b-account__rank-img"><img src="../img/new-design/temp-rank.png" alt=""></div>
            </div>
            <div class="b-account__status">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic a dignissimos eveniet enim</div>
          </div>
        </div>
        <div class="b-account__progress-bar-wrapper">
          <div class="b-account__progress-bar">
            <div class="b-account__progress-bar-comp" ng-style="{width: 100*complYChallengesInCategory/yChallengesInCategory + '%'}"></div>
          </div>
        </div>
        <div class="b-account__badges">
          <img class="b-account__badge" ng-repeat="badgeUrl in acc.completion_badge_urls" ng-src="{{badgeUrl}}" alt="" >
        </div>
      </div>

      <div ng-if="!planInfoIsShown">
        <div class="b-account__name-input-wrapper">
          <img class="b-account__name-input-icon" src="../img/new-design/account-yellow.png" alt="">
          <input class="b-account__name-input" type="text" ng-model="inputModels.userName"
            ng-blur="updateUserNameEmail()" ng-keyup="processInputKeyPress($event)">
        </div>
        <div class="b-account__email-input-wrapper">
          <img class="b-account__email-input-icon" src="../img/new-design/email-yellow.png" alt="">
          <input class="b-account__email-input" type="text" ng-model="inputModels.userEmail"
            ng-blur="updateUserNameEmail()" ng-keyup="processInputKeyPress($event)">
          <div class="b-account__private-label">PRIVATE</div>
        </div>

        <div class="b-account__iconlinks">
          <div class="b-account__iconlink-icon"><img src="../img/new-design/profile-yellow.png" alt=""></div>
          <div class="b-account__iconlink-link" ng-click="updatePicture()">CHANGE PROFILE PIC</div>

          <div class="b-account__iconlink-icon"><img src="../img/new-design/quiz-yellow.png" alt=""></div>
          <div class="b-account__iconlink-link">RETAKE QUIZ</div>

          <div class="b-account__iconlink-icon"><img src="../img/new-design/membership-yellow.png" alt=""></div>
          <div class="b-account__iconlink-link" ng-click="showPlanInfo()">EDIT MEMBERSHIP</div>
        </div>

        <div class="b-account__terms-contact">
          <div ui-sref="termsOfService">TERMS AND CONDITIONS</div>
          <div ui-sref="contactUs">CONTACT US</div>
        </div>
      </div>

      <div ng-if="planInfoIsShown">
        <div class="b-account__plan-info" ng-if="acc.has_active_plan">
          You are subscribed to a monthly membership for $9.99 a month
        </div>
        <div class="b-account__plan-info" ng-if="!acc.has_active_plan">
          You don't have active subscription plan
        </div>
        <div class="b-account__plan-action-link">unsubscribe</div>
        <div class="b-account__plan-action-link">edit billing information</div>
      </div>

    </div>

    <!--<div class="list padding" style="padding:0 15px;">
      <ion-item class="item text-center profile-top">
        <h1>{{acc.user_name}}</h1>
        <h5>becoming awesome since {{acc.becoming_awesome}}</h5>
        <h4 class="energized" ui-sref="completedChallenges"><i class="icon ion-checkmark"></i>
          {{acc.complete_challenges_count}} challenges completed</h4>
      </ion-item>
      <div class="user_img"><img src="{{acc.user_image}}"></div>
    </div>

    <div class="list padding" style="padding:0 15px;">
      <ion-item class="item text-center card-profile">
        <a ui-sref="contest">Click here to know the Contest rules.</a>
      </ion-item>
    </div>

    <div class="list padding" style="padding:0 15px;">
      <div class="item change_pass">
        <h3><i class="icon ion-email"></i> {{acc.user_email}}</h3>
      </div>
      <div class="item change_profile">
        <a ui-sref="editprofile">Edit Profile</a>
      </div>
      <div class="item change_profile">
        <a ui-sref='changepassword'>Change password</a>
      </div>
      <div class="item change_profile">
        <a ng-click="logout()">Logout</a>
      </div>
    </div>

    <div class="list padding" style="padding:0 15px;">
      <ion-item class="item text-center card-profile">
        <div>Selected challenge category: {{yCatName}}</div>
        <div>Progress: {{yCatProgress*100 + "%"}}</div>
        <div ng-show="yCatProgress==1" style="display: flex; align-items: center; justify-content: center">
          Badge: <img src="{{yCatBadgeURL}}" alt="" style="max-width: 100px; max-height: 100px">
        </div>
        Change category:
        <select ng-model="selectedCategory" ng-change="changeChallengeCategory(selectedCategory)">
          <option ng-repeat="category in challengeCategories"
            value="{{category.term_id}}">
            {{category.name}}
          </option>
        </select>
        <div ng-show="isYCatChanging">Processing...</div>
      </ion-item>
    </div>

    <div class="list padding" style="padding:0 15px;">
      <ion-item class="item text-center card-profile">
        <div ng-show="acc.has_active_plan==1">
          You have active subscription plan <br>
          Subscribed via <b>{{acc.plan_subscription_method}}</b>
        </div>
        <div ng-show="acc.has_active_plan!=1">
          You don't have active subscription plan
          <button ng-click="buy()" class="button button-block button-positive">Get a $5/month Plan</button>
        </div>
        <div ng-show="isProcessing">Processing...</div>
        <div ng-show="justSubscribed">Thanks for subscribing!</div>
        <div ng-show="failedToSubscribe">Something went wrong, subscription failed</div>
      </ion-item>
    </div>

    <div class="list padding" style="padding:0 15px;">
      <div class="button-bar">
        <button class="button button-small button-energized button-outline buttonRec" ui-sref="q1"
                style="margin-right:10px; border-right:1px solid ">Retake Quiz</a>
          <button class="button button-small button-energized button-outline buttonRec" ui-sref="result"
                  style="margin-left: 10px;">Quiz Results</a>
      </div>
    </div>-->

  </ion-content>
</ion-view>
