<div class="b-category-bar">
  <div class="b-category-bar__img"><img ng-if="yChallengeBadgeUrl" ng-src="{{yChallengeBadgeUrl}}" alt=""></div>
  <div class="b-category-bar__name">{{yChallengeCategory}}</div>
  <div class="b-category-bar__progress-bar">
    <div class="b-category-bar__progress-bar-comp" ng-style="{width: 100*complYChallengesInCategory/yChallengesInCategory + '%'}"></div>
    <div class="b-category-bar__progress-bar-text">{{complYChallengesInCategory}}/{{yChallengesInCategory}}</div>
  </div>
</div>
