<ion-view view-title="All Challenges">
  <ion-content overflow-scroll="false">
    <div class="list" style="margin-bottom:0;">
      <div class="item" style="background-color:#30b3bb;color:#fff">
        <h2 style="text-align: center; color:#fff"> Your Score: {{challenge.score}}%</h2>
      </div>
      <div class="item" style="background-color:#30b3bb;">
        <p style="color:#fff">{{challenge.compl_tooday_chall}} Challenges Completed Today</p>
        <p style="color:#fff" ui-sref="completedChallenges">{{challenge.compl_chall_count}} Challenges Completed</p>
        <p style="color:#fff">{{challenge.user_entries}} entries</p>
        <p style="color:#fff">{{challenge.user_points}} points</p>
        <div class="waveBar">
          <img width="50px" height="90px" ng-src="{{challenge.src_waves}}"/>
        </div>
      </div>
    </div>
    <div class="list padding" style="padding:0 15px;">
      <div class="challange_list" ng-repeat="chall in accepted">
        <a class="challange_list_item" ng-if="chall.in_array == true">
					<span class="image_thumb" ng-click="messageTitle(chall.id)">
					<img style="top:19px;" src="{{chall.image}}">
					<h3 class="strip_thumb" style="background:{{chall.color}};">{{chall.main_cat_name}}</h3>
					</span>
          <div ng-click="messageTitle(chall.id)" style="min-height: 80px;">
            <h2>{{chall.title}}</h2>
          </div>
          <span class="acc_chall1" ng-if="isFavorites(chall.id)">
					<i class="compl"><img width="25px;" src="img/completed.png"/> </i>Completed
					</span>
          <span class="acc_chall1" ng-if="!isFavorites(chall.id)" ng-click="show(chall.id)">
					<i class="compl"><img width="25px;" src="img/com.png"/> </i>Complete challenge
					</span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
