<ion-view view-title="Password">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left" ng-click="$ionicGoBack()"> Back</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" style="padding-top:10px;">
      <div class="list padding">
        <form name="editform">
          <label class="item item-input">
            <input type="password" ng-model="user.password" placeholder="New Password">
          </label>
          <label class="item item-input">
            <input type="password" ng-model="user.rpassword" placeholder="Repeat Password">
          </label>
          <button class="button button-energized button-block button-outline buttonRec" ng-click="changepassword()">
            Save
          </button>
        </form>
      </div>
    </ion-content>
</ion-view>
