<ion-view view-title="Completed Challenges">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
      <div class="padding">
        <div class="challange_list" ng-repeat="comp in co">
          <div class="challange_list_item">
					<span class="image_thumb">
						<img src="{{comp.image_src}}">
						<h3 class="strip_thumb" style="background-color:#{{comp.main_cat_color}};"
                ui-sref="messagecategory({param1:comp.main_cat_name})">{{comp.main_cat_name}}</h3>
					</span>
            <h2 ui-sref="messagetitle({From:'completedChallenges',param1:comp.the_ID})" ng-bind-html="comp.the_title"></h2>
            <span class="acc_chall_comps"><i class="compl"><img width="25px;" src="img/completed.png"/></i>Complete challenge</span>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
