<style>
  .scroll {height: 100%;}
</style>

<ion-view>
  <ion-content overflow-scroll="false">

    <div class="b-contact-us">
      <div class="b-contact-us__bg">
        <div class="b-contact-us__title">CONTACT US</div>
        <div class="b-contact-us__close" ui-sref="tabsController.account">X</div>
      </div>
      <div class="b-contact-us__form-box">
        <div class="b-contact-us__logo"><img src="../img/new-design/logo.png" alt=""></div>
        <input class="b-contact-us__name-input" type="text" placeholder="Name" ng-model="inputData.name">
        <div class="b-contact-us__separator"></div>
        <input class="b-contact-us__email-input" type="text" placeholder="Email" ng-model="inputData.email">
        <div class="b-contact-us__separator"></div>
        <textarea class="b-contact-us__message-input" placeholder="Message" ng-model="inputData.text"></textarea>
        <div class="b-contact-us__send-button" ng-click="handleSendClick()">SEND</div>
      </div>
    </div>

  </ion-content>
</ion-view>


