<ion-view view-title="Contest Rules">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button button-clear">
      Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content padding="true">
  
    <h2 style="color: white;text-align: center;">Giveaway Sweepstake Rules</h2>
    <h5 style="color: white;text-align: center;">YOUCOACHED SWEEPSTAKES RULES</h2>
    <h5 style="color: white;text-align: center;">DATE: 10-12-16</h5>
    <ol>
      <li style="color: white;"><b>1. </b>Prizes Awarded Randomly. Sweepstakes prizes are awarded randomly. An “entry” for a drawing of a sweepstakes prize is awarded based upon the level of participation and amount of “tasks” completed or through an alternative method of entry further described below. Sweepstakes entries must be entered for a specific possible sweepstakes prize and if an entry does not indicate the possible sweepstakes prize associated with such entry, then such entry cannot result in any sweepstakes prize. The potential sweepstakes prizes that can be awarded may change over time and entries can only be associated with a particular prize within certain time periods indicated for each potential prize. The total number of and the specific sweepstakes prizes that will be awarded (along with related time period eligibility) will be posted on a publicly viewable website page at http://youcoached.dev/current-live-giveaways/ . Your probability of winning a sweepstakes prize cannot be accurately calculated since such probability is dependent upon the number of “entries” and “entries” are awarded based upon level of use of our service and/or use of the alternative means of entry detailed below. You acknowledge that there is no additional amount collected by YouCoached from you for participating in this sweepstakes promotion.</li>
      <li style="color: white;"><b>2. </b>No Purchase Necessary. You do not have to be a customer or user of the YouCoached application or service in order to win a prize. If you are not a customer or user of our application or service, you may submit a postcard with your name and an address where we can send further information about possible prizes along with a statement that such postcard is a YouCoached sweepstakes entry to 27636 Ynez ADDRESS Road L-7 WHERE #115, Temecula, 92591 and you may submit up to 10 postcards reflecting the equivalent maximum number of entries that our user may also have if such user has a certain level of participation in our service. Note that if you are a non- customer or non-user entrant participating in the sweepstakes, that you must also indicate which potential prize is associated with your entry. If you do not provide us with an address with your postcard, we cannot send you information about the potential prizes that can be associated with your entry.</li>
      <li style="color: white;"><b>3. </b>Nature of Prizes. Sweepstakes prizes may be provided to YouCoached by our sponsors or third parties. YouCoached does not represent or warrant anything about the effectiveness, performance, quality or suitability for you of any sweepstakes prizes that may be awarded to you. Sweepstakes prizes have no cash equivalent value and may not be traded in by you to us for an alternative amount, product or service.</li>
      <li style="color: white;"><b>4. </b>Use of Name. We will collect the names of all sweepstakes prize winners and may have to disclose such names in order to comply with applicable law. If you participate in the sweepstakes and/or use our service, you consent to such disclosure of your name.</li>
      <li style="color: white;"><b>5. </b>Applicable Law and Prohibitions. This sweepstakes contest is void and not offered where such types of contests may not be offered and if you cannot participate under applicable law, then you agree that you will not be eligible to win any of our sweepstakes prizes. We endeavor to comply with all applicable law when offering sweepstakes prizes and you acknowledge that your eligibility to win or collect a sweepstakes prize may be affected to the extent that we must comply with applicable law.</li>
      <li style="color: white;"><b>6. </b>Apple is not involved in any way with the contest or sweepstakes.</li>
      </ol>
  </ion-content>
</ion-view>
