<ion-view view-title="Edit Profile">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left" ng-click="$ionicGoBack()"> Back</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" style="padding-top:30px;">
      <div class="list padding">
        <div class="user_img1"><img src="{{editt.user_image}}"></div>
        <button class="button edit_btnn button-clear button-light icon ion-camera" ng-click="pictureupdate()"></button>
      </div>
      <div class="list padding">
        <div class="item" style="background:none;border:none;">
          <h2 class="text-center" style="color:#fff;white-space:normal">To change billing information visit <a
            class="energized" ng-href="http://youcoached.com">YouCoached.com</a></h2>
        </div>
        <form name="editform">
          <label class="item item-input">
            <input type="text" ng-model="user.firstname" placeholder="Firstname">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="user.lastname" placeholder="Lastname">
          </label>
          <label class="item item-input">
            <input type="email" ng-model="user.email" placeholder="Email">
          </label>
          <button class="button button-energized button-block button-outline buttonRec" ng-click="editprofile()">Save
          </button>
        </form>
      </div>
    </ion-content>
</ion-view>
