<ion-view id="" title="FASHION MESSAGES" hide-nav-bar="false">
  <ion-content class="" padding="false">

    <div class="testimonials" style="padding-top:0;">
      <div class="row" style="padding:0;">
        <div class="col-40">
          <div class="testi_image">
            <img width="100%" src="{{fash.user_avatar_fetch_avatar}}"/>
            <h4>{{fash.fname}}</h4>
          </div>
        </div>
        <div class="col-60">
          <h3 class="chick" style="color:{{fash.main_category_color}};">{{fash.main_category_name}} {{fash.body_type}}
            <!--<span>Apple shape</span>--></h3>
          <div class="testimonials_box">
            <p><span class="do_cot_t"><img width="10px" src="img/quet.png"/></span>{{fash.quote}}<span class="do_cot_b"><img
              width="6px" src="img/q2.png"/></span></p>
            <span class="client">-{{fash.quote_author}}</span>
          </div>
        </div>
      </div>
    </div>


    <div class="padding messages_sec">
      <div class="button_top">
        <button class="button_personal" ng-click="set(fash.main_category_name)" ng-controller="goalCtrl">Set Personal
          goal
        </button>

      </div>

      <div class="abc" ng-repeat="fashion in mc">
        <div class="message_box" ng-if="fashion.in_array_then_bg == 'default_message'">
          <img width="100%" src="{{fashion.image_src}}"/>
          <div class="mess_txt">
            <h1 style="color:{{fashion.main_category_color}};" ng-click="popshow(fashion.the_ID)"
                ng-controller="oneMessageFashionCtrl">{{fashion.the_title}}</h1>
            <p ng-bind-html="fashion.the_excerpt"><a><img width="13px" src="{{fashion.img_src}}"/></a></p>


          </div>
        </div>

        <div class="challange_list">

          <a class="challange_list_item" ng-if="fashion.in_array_then_bg == challenge || fashion.accepted == false">
            <!--<a class="challange_list_item">-->
            <span class="image_thumb">
      <img src="{{fashion.image_src}}">
              <!--<h3 class="strip_thumb" style="color:{{fashion.main_category_color}};"></h3>-->
      </span>
            <h2 ng-click="popshow(fashion.the_ID)" ng-controller="oneMessageFashionCtrl">{{fashion.the_title}}</h2>


            <!--      <button class="btn_mess"  ng-click="hidde(fashion.the_ID)" ng-show="fashion.accepted==false && fashion.in_array_then_bg =='challenge'" >
                      Accept Challenge</button>
                   <button class="btn_mess" ng-show="fashion.accepted==true && fashion.in_array_then_bg =='challenge'" ng-click="hidde(fashion.the_ID)">
                      Undo</button>-->


            <!--        <button class="message"  ng-if="fashion.in_array_then_bg =='false'" ng-show="fashion.accepted == false" ng-click="favorites(fashion.the_ID)">
                      <span class="acc_chall">Not Saved Yet</span></button>
                             <button class="message" ng-show="fashion.accepted==true" ng-click="favorites(fashion.the_ID)" id="ac" style="display:block;">
                      <span class="acc_chall" >Undo</span></button>-->


            <span class="pin_call" ng-click="favorites(fashion.the_ID)"
                  ng-show="fashion.in_array_then_bg == false "><img width="16px" style="background-color: black;"
                                                                    src="{{fashion.img_src}}"></span>
            <span class="pin_call" ng-show="fashion.in_array_then_bg == true"><img width="16px"
                                                                                   style="background-color: yellowgreen;"
                                                                                   src="{{fashion.img_src}}"></span>

            <!--<span class="pin_call" ng-click="favorites(fashion.the_ID)" ng-show="fashion.in_array_then_bg == 'challenge' "><img width="16px" style="background-color: black;" src="{{fashion.img_src}}"></span>-->
            <!--<span class="pin_call" ng-show="fashion.in_array_then_bg == true"><img  width="16px" style="background-color: yellowgreen;" src="{{fashion.img_src}}"></span>-->
          </a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
