<ion-view view-title="Forget Password">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button button-clear">
      Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content overflow-scroll="false">
    <div class="list">
      <ion-item class="item" style="background:none;border:none;">
        <form name="myform" novalidate>
          <label class="item item-input outline_input">
            <input placeholder="Email" type="email" name="email" ng-model="data.email" required>
          </label>
          <span class="assertive" ng-show="myform.email.$dirty && myform.email.$error.email">invalid email</span>
          <span class="assertive"
                ng-show="myform.email.$touched && myform.email.$error.required">Enter Your Email</span>
          <div style="width: 283px; height: 13px;" class="spacer"></div>
          <button class=" button button-energized button-block button-outline buttonRec" ng-click="forgetpass()">
            Submit
          </button>
        </form>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
