<ion-view id="" title="Goals" hide-nav-bar='true'>
  <a ui-sref="tabsController.fashionMessages">
    <div class="bar bar-header bar-light">
      <span style="float: left; font-size: 23px !important; padding: 0 5px; margin-top: 8px;"><i
        class="icon ion-chevron-left"></i></span>
      <h1 class="title">Goals</h1>
    </div>
  </a>
  <ion-content class="" padding="false" ng-controller="goalCtrl">

    <div class="padding messages_sec goal_sec">
      <div class="button_top">
        <!--                    <a href="{{fash.self_goals}}"> <button class="button_personal">Set Personal goal</button></a>-->
        <h2>YOUR PERSONAL GOALS </h2>

        <div class="tablebase">

          <table>
            <thead>
            <tr>
              <th>status</th>
              <th>goal</th>
              <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(j,k) in personal">

              <td><input ng-if="k.status == 1" ng-checked="true" type="checkbox" ng-click="mode(j)" id="checkbox1zaal1"
                         style="display:block; margin: 0px auto;">
                <input ng-if="k.status == 0" type="checkbox" ng-click="mode(j)" id="checkbox1zaal1"
                       style="display:block; margin: 0px auto;">
              </td>


              <td>{{k.text}}</td>
              <td>
                <button class="button button-small button-stable" ng-click="delete(j)">
                  Delete
                </button>
              </td>
            </tr>
            </tbody>

          </table>

        </div>

        <h2>SET NEW PERSONAL GOAL</h2>

        <form name="goalform" ng-submit="add(data)">
          <div class="textadd">
            <textarea placeholder="Set Personal Goal" ng-model="data.noticeText"></textarea>

            <center><input type="submit" value="Add"
                           class="button button-energized  button_personal  button-block button-clear signup button-outline"
                           style="border-radius:0px 0px 0px 0px; text-transform:uppercase; float:left; margin-top: 15px;  color:#f4be34;"
                           id="login-button2"></center>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
