<ion-view >

  <ion-nav-bar></ion-nav-bar>
  <ion-nav-title>
    <ng-include src="'templates/categoryBar.html'"></ng-include>
  </ion-nav-title>

  <ion-content  overflow-scroll="false">

    <div class="l-home">
      <div class="b-challenge b-challenge--suggestion" ng-show="challenge">
        <div class="b-challenge__thumbnail">
          <img ng-src="{{challenge.thumbnail_url}}" ng-if="challenge.thumbnail_url" alt="">
        </div>
        <div class="b-challenge__title" ui-sref="tabsController.yChallenge({id: challenge.id})">{{challenge.title}}</div>
        <div class="b-challenge__excerpt" ui-sref="tabsController.yChallenge({id: challenge.id})">{{challenge.excerpt}} <span class="b-challenge__more-button">...MORE</span></div>
        <div class="b-challenge__buttons">
          <button ng-click="acceptClick(challenge)" class="b-challenge__accept-button">Accept</button>
          <div class="b-challenge__pass-button-wrapper">
            <button ng-click="passClick(challenge)" class="b-challenge__pass-button">Pass</button>
          </div>
        </div>
        <div class="b-challenge__accepted-users" ng-if="challenge.accepted_users.length">
          <div class="b-challenge__accepted-users-number">{{challenge.accepted_users.length}}</div>
          <div class="b-challenge__accepted-user-image" ng-repeat="user in challenge.accepted_users" ng-bind-html="user.avatarHtml"></div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
