<style>
  .scroll {
    height: 100%;
  }

  .slider {
    height: 95%;
  }

  .slider-pager {
    top: initial;
    bottom: 80px;
  }

  .slider-slide {
    height: 100%;
    padding-top: 50px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
  }
</style>
<ion-view view-title="Intro" hide-nav-bar="true">
  <ion-content overflow-scroll="true">
    <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="animated {{slide[0]}}">
          <img width="200px" src="img/tut1.jpg"/>
          <div class="slide_textarea">
            <h1>Evaluate</h1>
            <p>Take our fun 10 minutes quiz<br>so we know more about your personality,<br>goals, and preferences</p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="animated {{slide[1]}}">
          <img width="200px" src="img/tut2.jpg"/>
          <div class="slide_textarea">
            <h1>Messages</h1>
            <p>Start receiving daily messages from coaches</p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="animated {{slide[2]}}">
          <img width="200px" src="img/tut3.jpg"/>
          <div class="slide_textarea">
            <h1>Challenges</h1>
            <p>Accept challenges, earn points, win stuff</p>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <button ui-sref="login" class="button button-block button-dark buttonRec"
            style="position:absolute;bottom:0;left:0;">Skip
    </button>
  </ion-content>
</ion-view>
