<style>
  .scroll {height: 100%;}
</style>

<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content overflow-scroll="false">

    <div class="b-login">
      <div class="b-login__logo"><img src="../img/new-design/logo.png" alt=""></div>
      <div class="b-login__title">REHAB AND RECOVERY</div>
      <div class="b-login__subtitle">
        LIFE IMPROVEMENT <br>
        ONE CHALLENGE AT A TIME
      </div>
      <input class="b-login__username-input" type="text" placeholder="EMAIL" ng-model="data.email" required>
      <input class="b-login__password-input" type="text" placeholder="PASSWORD" ng-model="data.password" required>
      <div class="b-login__login-button" ng-click="login(myform.$invalid)">LOGIN</div>
      <div class="b-login__forgot" ui-sref="forgetpass">Forgot Password?</div>
      <div class="b-login__sign-up">
        Don't have an account? <span class=b-login__sign-up-link ui-sref="signup">Sign Up</span>
      </div>
    </div>

    <!--<div class="list">
      <ion-item class="item item-body" style="padding:20% 0;">
        <img style="display: block; margin:auto;" src="img/4SeSg1CTZK7MyOHdIqw8_IMG_09042016_115712.png" height="auto"
             width="100%">
      </ion-item>
    </div>
    <div class="list">
      <ion-item class="item" style="background:none;border:none;">
        <form name="myform" novalidate>
          <label class="item item-input outline_input">
            <input placeholder="Email" type="email" name="email" ng-model="data.email" required>
          </label>
          <span class="assertive" ng-show="myform.email.$dirty && myform.email.$error.email">invalid email</span>
          <span class="assertive" ng-show="myform.email.$touched && myform.email.$error.required">field required</span>
          <div style="width: 283px; height: 13px;" class="spacer"></div>
          <label class="item item-input outline_input">
            <input placeholder="Password" type="password" name="password" ng-model="data.password" required>
          </label>
          <span class="assertive"
                ng-show="myform.password.$touched && myform.password.$error.required">field required</span>
          <a ui-sref="forgetpass" class="fpass">forget password ?</a>
          <div style="width: 100%; height: 40px;" class="spacer"></div>
          <button class="button button-energized button-block button-outline buttonRec"
                  ng-click="login(myform.$invalid)">LOG IN
          </button>
          <div style="height: 10px;" class="spacer"></div>
          <button class="button button-energized button-block button-clear" ui-sref="signup">SIGN UP</button>
        </form>
      </ion-item>
    </div>-->
  </ion-content>
</ion-view>
