<ion-view view-title="Fashion Messages">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false">
    <div class="list" style="background:#fff;margin-bottom:10px !important;">
      <div class="item coachFash">
        <p class="text-center"><span class="do_cot_t"><img width="10px" src="img/quet.png"></span>&nbsp;&nbsp;{{fash.quote}}
          <span class="do_cot_b"><img width="7px" src="img/q2.png"></span></p>
        <span class="clientFash">-- {{fash.quote_author}}</span>
      </div>
    </div>
    <div class="list">
      <div class="readyGoal" ng-show="statusGoal">
        <div class="textGoal">
          <pre>{{messageGoal}}</pre>
          <i class="icon ion-edit" ng-click="set()"></i>
        </div>
        <div class="buttonGoal" ng-click="statusSelfGoal(goalID)">
          <h2>GOAL COMPLETE</h2>
        </div>
      </div>
      <div ng-hide="statusGoal" class="buttonSetGoal" ng-click="set()"><h2>Set Personal goal</h2></div>
      <div class="abc" ng-repeat="fashion in mc">
        <div class="message_box" ng-if="fashion.in_array_then_bg == 'default_message'">
          <div class="img_message">
            <img style="width:100%;max-width:150px" ng-src="{{fashion.image_src}}"/>
          </div>
          <div class="mess_txt">
            <h1 style="color:{{fashion.main_category_color}};"
                ui-sref="messagetitle({From:'messagecategory',param1:fashion.the_ID})">{{fashion.the_title}}</h1>
            <p ng-bind-html="fashion.the_excerpt"></p>
          </div>
        </div>

        <div class="challange_list">
          <div class="challange_list_item" ng-if="fashion.in_array_then_bg == challenge || fashion.accepted == false">
					<span class="image_thumb" ui-sref="messagetitle({From:'messagecategory',param1:fashion.the_ID})">
					<img src="{{fashion.image_src}}">
					</span>
            <div style="min-height: 80px" ui-sref="messagetitle({From:'messagecategory',param1:fashion.the_ID})">
              <h2 ui-sref="messagetitle({From:'messagecategory',param1:fashion.the_ID})"
                ng-bind-html="fashion.the_title"></h2>
            </div>
            <span class="pin_call" ng-click="favorites(fashion.the_ID)"
                  ng-show="fashion.in_array_then_bg == false "><img width="16px" style="background-color: black;"
                                                                    src="{{fashion.img_src}}"></span>
            <span class="pin_call" ng-click="favorites(fashion.the_ID)" ng-show="fashion.in_array_then_bg == true"><img
              width="16px" style="background-color: yellowgreen;" src="{{fashion.img_src}}"></span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="goal.html" type="text/ng-template">
  <div class="modal" style="background-color:transparent;border:none;">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Goals</h1>
      <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios-close-empty"></i></button>
    </header>
    <ion-content class="has-header" overflow-scroll="false" style="background-color:transparent;border:none;">
      <div class="list">
        <div class="item">
          <h1 class="text-center">YOUR PERSONAL GOALS</h1>
          <textarea ng-model="data.goal" rows="7" style="border:1px solid #ccc;width:100%;"></textarea>
          <button class="button button-block" style="border-color:#30b3bb;background:transparent;color:#30b3bb;"
                  ng-click="add()">SET PERSONAL GOAL
          </button>
        </div>
      </div>
    </ion-content>
  </div>
</script>
