<style>
  .scroll {min-height: 100%;}
</style>

<ion-view view-title="MESSAGES">
  <ion-nav-bar class="bar-stable messages-bar">
  </ion-nav-bar>
  <ion-content overflow-scroll="false">

    <div class="b-messages">
      <div class="b-messages__top-img-wrapper">
        <div class="b-messages__line b-messages__line--big-gap"></div>
        <div class="b-messages__top-img" ng-bind-html="avatarHtml"></div>
      </div>

      <div ng-repeat="(challenge, messages) in challengeMessages">
        <div class="b-messages__challenge-name">{{challenge}}</div>

        <div ng-repeat="message in messages">
          <div class="b-message">
            <div class="b-message__top">
              <div class="b-message__author">{{message.comment_author}}</div>
              <div class="b-message__date">{{message.comment_timestamp*1000 | date:'MMM dd - hh:mma'}}</div>
            </div>
            <div class="b-message__middle">
              <div class="b-message__author-avatar" ng-bind-html="message.author_avatar_html"></div>
              <div class="b-message__content">{{message.comment_content}}</div>
            </div>
          </div>

          <div ng-repeat="reply in message.replies">
            <div class="b-messages__gap"></div>
            <div class="b-message b-message--reply">
              <div class="b-message__top">
                <div class="b-message__author">{{reply.comment_author}}</div>
                <div class="b-message__date">{{reply.comment_timestamp*1000 | date:'MMM dd - hh:mma'}}</div>
                <div class="b-message__mark" ng-click="flagComment(reply.comment_ID)"><img src="../img/mark-comment.png" alt=""></div>
              </div>
              <div class="b-message__middle">
                <div class="b-message__author-avatar" ng-bind-html="reply.author_avatar_html"></div>
                <div class="b-message__content">{{reply.comment_content}}</div>
              </div>
            </div>
          </div>

        </div>

        <div class="b-messages__line"></div>

      </div>

      <div class="b-messages__jump-to-top">
        <img src="../img/new-design/up-arrow-dark.svg" ng-click="scrollToTop()">
      </div>
    </div>

  </ion-content>
</ion-view>
