<ion-view view-title="Message">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" style="padding:15px 15px;">
    <div class="top_heading1">
      <div ng-show="oneshow.main_cat_name!==''" class="titleCat1" style="background:{{oneshow.main_cat_name_color}};"
           ui-sref="messagecategory({From:'messagetitle',param1:oneshow.main_cat_name})">{{oneshow.main_cat_name}}
      </div>
      <div ng-hide="oneshow.main_cat_name!==''" class="titleCat1" style="background:{{oneshow.main_cat_name_color}};"
           ui-sref="tabsController.point">REWARDS
      </div>
    </div>
    <div class="one_message">
      <h1 class="headding" style="text-align:center; margin:30px 0 0;">{{oneshow.message_title}}</h1>
      <div class="msg_img">
        <img src="{{oneshow.message_image}}"/>
      </div>
      <span class="msg_main" ng-bind-html="oneshow.first_content"></span>
      <p ng-if="videoShow">
        <iframe width="100%" height="315" ng-src="{{oneshow.url}}" frameborder="0" allowfullscreen></iframe>
      </p>
      <span class="msg_main" ng-bind-html="oneshow.second_content"></span>
      <center>
        <button class="button button-small button-energized button-outline buttonRec"
                ng-click="setChallenge(oneshow.message_id)" ng-show="oneshow.challenge_is == 'not_accepted'">
          Accept Challenge
        </button>
        <button class="button button-small button-energized button-outline buttonRec"
                ng-click="setChallenge(oneshow.message_id)" ng-show="oneshow.challenge_is == 'accepted'">
          Undo
        </button>
      </center>
      <div class="catg">
        <div class="catg1">
          <div class="buttons">
            <a ui-sref="messagecategory({From:'messagetitle',param1:oneshow.main_cat_name})" class="button button-clear positive">Back to category</a>
          </div>
        </div>
        <div class="catg2">
          <a ng-click='share("https://youcoached.com/")'><i class="ion-social-facebook"></i>Share</a>
        </div>
        <!-- <div class="catg3">
          <a ng-click='saveCateg()'>
            <i class="icon save_icon"></i>
          </a>
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
