<ion-modal-view>

  <ion-content>
    <div class="padding">
      <button style="font-size: 30px;" class="button button-clear button-primary ion-ios-close-empty"
              ng-click="modal.hide()"></button>
      <div class="message_box save_box">
        <!--    	<div class="top_heading">
                        <span style="background:#2fb3ba;">Fashion</span>
                    </div>
                        <img width="100%" src="img/img2.jpg" />-->
        <div class="mess_txt">
          <div class="pop_imgs" ng-bind-html="read_more"></div>
          <!--                <h1>Watch out for The Most recent Fashion</h1>
                          <p> As anyone who's gotten a really good — or bad — haircut knows, hair is so much more than just a look: It can be a reflection and reinforcement of who you are.
          <a href="#" class=""> <img width="15px" src="img/icon-saved.png" /></a></p>-->

        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
