<ion-view style="width: 100%; float: left; margin: 0; text-align: center;" id="page2" title="Message"
          hide-nav-bar='true' ng-controller="oneMessageCtrl">
  <a ui-sref="tabsController.home">
    <div class="bar bar-header bar-light">
      <span style="float: left; font-size: 23px !important; padding: 0 5px; margin-top: 8px;"><i
        class="icon ion-chevron-left"></i></span>
      <h1 class="title">Message</h1>
    </div>
  </a>
  <ion-content class="has-header" padding="true">

    <div class="one_messsage">
      <div class="top_heading">
        <span style="background:{{oneshow.main_cat_name_color}};" ng-click="fashion(oneshow.main_cat_name)"
              ng-controller="fashionMessagesCtrl">{{oneshow.main_cat_name}}</span>
      </div>
      <h1 class="headding" style="text-align:center; margin:30px 0;">{{oneshow.message_title}}</h1>
      <div class="msg_img">
        <img src="{{oneshow.message_image}}"/>
      </div>
      <span class="msg_main" ng-bind-html="oneshow.message_content"></span>

      <!--                    <button class="message acc_chall" ng-if="fashion.in_array_then_bg =='challenge'" ng-click="hide(fashion.the_ID)" ng-show="fashion.accepted==true" >
                <span class="acc_chall">Accept Challenge</span></button>
             <button class="message" ng-if="fashion.in_array_then_bg =='challenge'" ng-show="fashion.accepted==false" ng-click="hide(fashion.the_ID)" id="ac" style="display:block;">
                <span class="acc_chall" >Undo</span></button>-->


      <!--<button class="message" ng-show="fashion.accepted==false" ng-click="hide(oneshow.message_id)" ng-controller="fashionMessagesCtrl" id="ac" style="display:block;">
                <span class="acc_chall" >Undo</span></button>-->
      <center>
        <button class="btn_mess" ng-click="hide(oneshow.message_id)" ng-controller="oneMessageCtrl"
                ng-show="oneshow.challenge_is == 'not_accepted'">
          Accept Challenge
        </button>
        <button class="btn_mess" ng-show="oneshow.challenge_is == 'accepted'" ng-click="hide(oneshow.message_id)"
                ng-controller="oneMessageCtrl" id="ac">
          Undo
        </button>
      </center>
      <div class="catg">
        <div class="catg1">

          <div class="buttons">
            <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><a
              href="#">Back to category</a></button>
          </div>


        </div>

        <div class="catg2">
          <a ng-click='share("f","{{oneshow.message_title}}","{{oneshow.message_image}}","youcoached.com")'><i
            class="ion-social-facebook"></i>Share</a>
        </div>

      </div>
    </div>
    <div>
      <!--        <button ng-click="hide(oneshow.message_id)" ng-if="oneshow.message_type == challenge" ng-controller="fashionMessagesCtrl" ng-show="oneshow.challenge_is == not_accepted">
                  Accept Challenge</button>-->


    </div>


  </ion-content>
</ion-view>
