<ion-view style="" id="page2" title="Message" hide-nav-bar='false' ng-controller="resultThreeCtrl">
  <ion-header-bar align-title="center" id="div2" class="bar-light map_header">
    <div class="buttons">
      <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i
        class="icon ion-android-arrow-back"></i></button>
    </div>
    <!--  <h1 class="title">Reservation</h1>-->

  </ion-header-bar>
  <ion-content class="has-header" padding="true">

    <div class="one_messsage">
      <div class="top_heading" ng-repeat="reslt in quiz">
        <span class="thumb_head" ng-bind-html="reslt.read_more"/>
      </div>

    </div>


  </ion-content>
</ion-view>
