<ion-view view-title="{{numReward}}">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content overflow-scroll="false">
    <div class="list">
      <div class="item">
        <p style="white-space:normal">You can spend your entries on rewards</p>
        <a class="text-center" style="width:100%;color: inherit;font-style:italic;font-size:14px;" ui-sref="rules">Contest Terms & Rules</a>
        <p style="white-space:normal">More entries on reward - more chances to win. Good Luck!</p>
        <p style="margin-top: 10px;">You have <span>{{re.user_entries}} entries</span></p>
      </div>
    </div>
    <div class="list" style="padding:0 15px 10px;">
      <div class="save_box" ng-repeat="reward in point">
        <div class="pointReward">
          <span>{{reward.post_title}}</span>
        </div>
        <div class="addReward text-center">{{reward.applied_count}}</div>
        <img style="width:60%;margin:auto;display:block;" ng-src="{{reward.image_src}}" ng-click="showMessage(reward)"/>
        <button class="button button-small button-stable button-outline buttonRec"
                style="margin:10px auto;display:block;" ng-click="added(reward.ID)">ADD ENTRY
        </button>
        <div class="pin_call1" ng-click="favorites(reward.ID)" ng-show="reward.in_array_then_bg == false "><img
          width="16px" style="background-color: black;" src="{{reward.img_src}}"></div>
        <div class="pin_call1" ng-click="favorites(reward.ID)" ng-show="reward.in_array_then_bg == true"><img
          width="16px" style="background-color: yellowgreen;" src="{{reward.img_src}}"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="rewardMessage.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Reward Message</h1>
      <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios-close-empty"></i></button>
    </header>
    <ion-content class="has-header" overflow-scroll="false" style="padding:15px 15px;">
      <div class="one_message">
        <h1 class="headding" style="text-align:center; margin:30px 0 0;">{{oneshow.message_title}}</h1>
        <div class="msg_img">
          <img ng-src="{{oneshow.message_image}}"/>
        </div>
        <span class="msg_main" ng-bind-html="oneshow.message_content"></span>
      </div>
    </ion-content>
  </div>
</script>
