<ion-view view-title="Evaluation Quiz">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left" ng-click="$ionicGoBack()"> Back</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" style="background:#fff;">
      <div class="process_strip">
        <img ng-src="img/quiz/1.jpg" width="100%">
      </div>
      <div class="quiz_section">
        <div style="width: 100%; height: 80px;" class="spacer"></div>
        <h1>Evaluation Quiz</h1>
        <h3> Take the Evaluation Quiz for free </h3>
        <h3>average time required: <b>5-10 min</b></h3>
        <button ui-sref="q2" class="quiz_btn" ng-show="ready">Start Quiz</button>
      </div>
    </ion-content>
</ion-view>
