<ion-view view-title="Style Questions">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-energized button-clear" ng-click="$ionicGoBack()"><i
        class="icon ion-chevron-left"></i> PREV
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-energized button-clear" ng-click="quiz()">NEXT <i class="icon ion-chevron-right"></i>
      </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" style="background:#fff;">
      <div class="process_strip">
        <img ng-src="img/quiz/10.jpg" width="100%">
      </div>
      <div class="quiz_next">
        <h1>Evaluation Quiz</h1>
      </div>
      <div class="list padding">
        <h5 class="question_no">Question 9 of 10</h5>
        <p>{{q10.quest_text}}</p>
        <button ng-repeat="stii in qii" class="button button-block button-energized {{stii.buttonSet}}"
                ng-click="answer($index)">
          {{stii.field_txt}}
        </button>
      </div>
    </ion-content>
</ion-view>
