<ion-view view-title="Style Questions">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-energized button-clear" ng-click="$ionicGoBack()"><i
        class="icon ion-chevron-left"></i> PREV
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-energized button-clear" ng-click="quiz()">FINISH <i
        class="icon ion-chevron-right"></i></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" style="background:#fff;">
      <div class="process_strip">
        <img ng-src="img/quiz/11.jpg" width="100%">
      </div>
      <div class="quiz_next">
        <h1>Evaluation Quiz</h1>
      </div>
      <div class="list padding">
        <h5 class="question_no">Question 10 of 10</h5>
        <p>{{q11.quest_text}}</p>
        <div ng-init="start = 0" ng-repeat="(j,k) in questions1" ng-init="current = $parent.start;
		$parent.start=$parent.start+1;">
          <div class="row">
            <div class="col col-50" style="border:none;padding-right:20px;">{{k.left}}</div>
            <div class="col col-50" style="text-align:right;border:none;padding-left:20px;">{{k.right}}</div>
          </div>
          <div class="row quiz">
            <div class="col col-100" style="border:none;">
              <div class="item range range-positive">
                <input type="range" name="volume" min="1" max="5" value="3" ng-model="rangeValue"
                       ng-change="answer(j,rangeValue)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
