<ion-view view-title="Style Questions">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-energized button-clear" ng-click="$ionicGoBack()"><i
        class="icon ion-chevron-left"></i> PREV
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-energized button-clear" ng-click="quiz()">NEXT <i class="icon ion-chevron-right"></i>
      </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" style="background:#fff;">
      <div class="process_strip">
        <img ng-src="img/quiz/2.jpg" width="100%">
      </div>
      <div class="quiz_next">
        <h1>Evaluation Quiz</h1>
      </div>
      <div class="list padding">
        <h5 class="question_no">Question 1 of 10</h5>
        <p>{{q2.quest_text}}</p>
        <div ng-repeat="image in qimage">
          <div class="row" ng-if="$even" style="padding:0 10px 0 0">
            <div ng-style="xyz[$index]" class="col col-50" ng-click="answer($index)"
                 style="border:1px #ccc solid;margin:0 5px 0 0;">
              <img ng-src="{{qimage[$index].field_bg}}" style="margin:0 auto; display:table; height:200px;">
            </div>
            <div ng-style="xyz[$index+1]" class="col col-50" ng-click="answer($index+1)"
                 style="border:1px #ccc solid;margin:0 0 0 5px;">
              <img ng-src="{{qimage[$index+1].field_bg}}" style="margin:0 auto; display:table; height:200px;">
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
