<ion-view style="" id="page5" title="Evaluation Quiz">

  <ion-nav-buttons side="left">
    <button style="color:#f4be34;" class="button button-positive button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex != 1">
      PREV
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button style="color:#f4be34;" class="button button-positive button-clear no-animation"
            ng-show="slideIndex != 2">
      NEXT
    </button>

  </ion-nav-buttons>
  <ion-content class="" style="background:#333;">
    <div class="padding">
      <div class="process_strip">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>

        </ul>
      </div>
      <ion-slide-box on-slide-changed="slideHasChanged($index)" class="quiz_section">

        <ion-slide class="quiz_outer">
          <div class="quiz_sec">
            <h1>Evaluation Quiz</h1><br/>
            <h3> Take the Evaluation Quiz for free </h3><br/>
            <h3>average time required: <b>5-10 min</b></h3><br/>
            <button class="quiz_btn">Start Quiz</button>
          </div>
        </ion-slide>
        <ion-slide class="quiz_outer">
          <div class="quiz_next">
            <h1>Personality Questions</h1>
            <p>Without custom styles, it looks like when using the ion-slide directive, the pager overlays the slide
              itself.
              I have been told a fix is to custom define a height, although I feel this should be fixed in the library
              itself.</p>
          </div>
          <div class="padding">
            <div class="question_box">
              <h5 class="question_no">Question 1 of 5</h5>

              <p>{{quiz.quest_text}}</p>


              <input type='radio' name="gender" class="checked_btn btn_left" value={{quiz2.value}} id='text'
                     ng-click='quiz()'>Man
              <input type='radio' name="gender" class="checked_btn btn_left" value="woman" id='text' ng-click='quiz()'>Woman
              <button on-touch="onTouch()" class="button">Test</button>


            </div>
          </div>

        </ion-slide>


        <ion-slide class="quiz_outer">
          <div class="quiz_next">
            <h1>Style Questions</h1>
            <p>You have 20 seconds to choose all the looks that are attractive to you</p>
          </div>
          <div class="padding">
            <div class="question_box">
              <h5 class="question_no">Question 1 of 5 <span class="time_right"><img
                src="img/icon-time.png"/><b>19 sec</b> left</span></h5>

              <p> I enjoy spending time with friends in loud environments with lots of alcohol. </p>

              <div class="gallery_ques">
                <div class="gallery_img">
                  <a href="#"><img src="img/g1.jpg"/> </a>
                </div>

                <div class="gallery_img">
                  <a href="#"><img src="img/g2.jpg"/> </a>
                </div>

                <div class="gallery_img">
                  <a href="#"><img src="img/g3.jpg"/> </a>
                </div>

                <div class="gallery_img">
                  <a href="#"><img src="img/g4.jpg"/> </a>
                </div>

                <div class="gallery_img">
                  <a href="#"><img src="img/g5.jpg"/> </a>
                </div>

                <div class="gallery_img">
                  <a href="#"><img src="img/g6.jpg"/> </a>
                </div>

                <div class="gallery_img">
                  <a href="#"><img src="img/g7.jpg"/> </a>
                </div>

                <div class="gallery_img">
                  <a href="#"><img src="img/g8.jpg"/> </a>
                </div>

                <div class="gallery_img">
                  <a href="#"><img src="img/g9.jpg"/> </a>
                </div>


              </div>

            </div>
          </div>

        </ion-slide>


      </ion-slide-box>


    </div>


  </ion-content>
</ion-view>
