<ion-view view-title="Your Result">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-energized button-clear" ng-click="backAcc()"><i class="icon ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" style="background:#333;">
    <div class="list" style="padding:10px 11px 0;margin-bottom:10px;">
      <div class="imgResult">
        <img ng-src="{{reslt.user_selfie_badge}}">
        <a
          ng-click='share("https://youcoached.com/al_webhook.php?user_id=1&display=popup&ref=plugin&src=share_button")'><i
          class="icon ion-social-facebook positive"></i> <span class="positive">Share</span></a>
      </div>
      <!-- <div class="shareResult">
        <a
          ng-click='share("https://youcoached.com/al_webhook.php?user_id=1&display=popup&ref=plugin&src=share_button")'><i
          class="icon ion-social-facebook positive"></i> <span class="positive">Share</span></a>
      </div> -->
      <div class="textResult">
        <p class="titleResult">I am <span style="color:#f4be34;">{{reslt.personality}}</span></p>
        <p ng-click="openModal(reslt.rm_content)">
          <span class="read-more-link">Read more</span>
          about personality type '{{reslt.personality}}'
        </p>
        <p>{{reslt.quiz_personality}}</p>
      </div>
    </div>
    <div class="list">
      <div class="res_bx" ng-repeat="re in quiz" style="{{re.marginItem}}">
        <div class="top_heading" ng-click="openModal(re)">
          <span style="background:{{re.color}};color:#fff;padding:1px 4px;">{{re.header}}</span>
        </div>
        <img ng-click="openModal(re)" class="result_imge" src="{{re.image}}"/>
        <h1 style="color:#093;" class="hedtxt1">{{re.name}}</h1>
      </div>
      <div class="res_bx lifestyle-coaching" style="margin-left:10px;">
        <div class="top_heading" ng-click="openModal(reslt.lc)">
          <span style="background:rgb(47, 179, 186);color:#fff;padding:1px 4px;">lifestyle coaching</span>
        </div>
        <img ng-click="openModal(reslt.lc)" class="result_imge" src="https://youcoached.com/wp-content/themes/al_youcoached/img/img_results_new/lifestyle_coaching_results.png"/>
        <h1 style="color:#093;" class="hedtxt1">Results</h1>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="model.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-stable">
      <h1 class="title" style="text-transform: uppercase;">{{readmore.name}}</h1>
      <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios-close-empty"></i></button>
    </header>
    <ion-content class="has-header" overflow-scroll="false" style="background-color:#333;">
      <div class="list" style="padding:15px;">
        <div class="model_result">
          <div class="result_head">
            <span style="background:{{readmore.color}};color:#fff;padding:1px 4px;"
                  ui-sref="messagecategory({param1:re.k})">{{readmore.k}}</span>
          </div>
          <div class="model_content">
            <div class="pop_imgs" ng-bind-html="readmore.read_more"></div>
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</script>
