<ion-view style="" id="page2" title="Your Result">
  <ion-content class="has-header" padding="true">
    <div class="padding">
      <div class="result_box" style="border:none; margin-top:15px; text-align:center; padding:10px;">
        <h1>I am <span style="color:#f4be34;">Entj</span></h1>
        <p><span style="color:#999;">Commander Logical action oriented Critical Self- confident</span></p>
        <center><a href="#" style="float:none;">More</a></center>
      </div>
    </div>

    <div class="results_bx">
      <a ui-sref="tabsController.resultThree">
        <div class="res_bx">
          <div class="top_heading">
            <span style="background:#2fb3ba;">Fashion</span>
          </div>
          <h1 style="color:#093;" class="hedtxt">Chic</h1>
        </div>
      </a>
    </div>

    <div class="results_bx">
      <a ui-sref="tabsController.resultThree">
        <div class="res_bx">
          <div class="top_heading">
            <span style="background:#fc9326;">Fitness</span>
          </div>
          <h1 style="color:#fc9326;" class="hedtxt">Endutance</h1>
        </div>
      </a>
    </div>

    <div class="results_bx">
      <a ui-sref="tabsController.resultThree">
        <div class="res_bx">
          <div class="top_heading">
            <span style="background:#8fd1c6;">Relationships</span>
          </div>
          <h1 style="color:#8fd1c6;" class="hedtxt">Commited</h1>
        </div>
      </a>
    </div>

    <div class="results_bx">
      <a ui-sref="tabsController.resultThree">
        <div class="res_bx">
          <div class="top_heading">
            <span style="background:#ffc30d;">Code</span>
          </div>
          <h1 style="color:#ffc30d;" class="hedtxt">code results</h1>
        </div>
      </a>
    </div>

    <div class="results_bx">
      <a ui-sref="tabsController.resultThree">
        <div class="res_bx">
          <div class="top_heading">
            <span style="background:#6a6a6a;">Style</span>
          </div>
          <h1 style="color:#6a6a6a;" class="hedtxt">Chic</h1>
        </div>
      </a>
    </div>

    <div class="results_bx">
      <a ui-sref="tabsController.resultThree">
        <div class="res_bx">
          <div class="top_heading">
            <span style="background:#fe5d55;">Decor</span>
          </div>
          <h1 style="color:#fe5d55;" class="hedtxt">Modern</h1>
        </div>
      </a>
    </div>

  </ion-content>
</ion-view>
