<ion-view style="" id="page2" title="Your Result" hide-nav-bar='true'>
  <a ui-sref="tabsController.account">
    <div class="bar bar-header bar-light">
      <span style="float: left; font-size: 23px !important; padding: 0 5px; margin-top: 8px;"><i
        class="icon ion-chevron-left"></i></span>
      <h1 class="title">Your Results</h1>
    </div>
  </a>
  <ion-content class="has-header" padding="true">

    <div class="padding">
      <div class="result_box"
           style="border:none; margin-top:15px; text-align:left; padding:10px 10px 10px  100px; position:relative; min-height: 98px;">

        <div class="entj"><span class="thumb_head" ng-bind-html="reslt.user_image"/></span></div>
        <h1>I am <span style="color:#f4be34;">{{reslt.personality}}</span></h1>
        <p style="text-transform: none; font-size: 14px;" ng-show="mytxt">
          {{reslt.quiz_personality}}
        </p>
        <!--            <p ng-show="" style="color:#999; font-size:13px; text-transform:none;">{{reslt.quiz_personality}}</p>-->
        <!--            <center><button ng-click="toggle()" style="float:right;">More</button></center>-->

        <a ng-click="toggle()" style="float:right;">More</a>


      </div>
    </div>

    <div class="results_bx">

      <div class="res_bx" ng-repeat="re in quiz">
        <div class="top_heading">

          <span style="background:#2fb3ba;" ng-click="fashion(re.k)" ng-controller="fashionMessagesCtrl">{{re.k}}</span>
        </div>
        <!--<img ng-click="modal.show()" ng-controller='resultThreeCtrl' class="result_imge" src="{{re.image}}" />-->
        <img ng-click="openModal(re.read_more)" ng-controller='resultThreeCtrl' class="result_imge" src="{{re.image}}"/>
        <h1 style="color:#093;" class="hedtxt1">{{re.name}}</h1>
      </div>
    </div>

  </ion-content>
</ion-view>
