<ion-view view-title="Saved Messages">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content overflow-scroll="false">
    <div class="list" style="padding:0 15px 10px;">
      <div class="item" style="margin-bottom:2px;padding:0;background:none;border:none;" ng-repeat="save in messages">
        <div class="top_heading2">
          <div class="titleCat2" style="background:#{{save.main_cat_color}};"
               ui-sref="messagecategory({From:'tabsController.saved',param1:save.main_cat_name})">{{save.main_cat_name}}
          </div>
        </div>
        <div class="bodySaved">
          <img ui-sref="messagetitle({From:'tabsController.saved',param1:save.the_ID})" width="100%" src="{{save.image_src}}"/>
          <h2 ui-sref="messagetitle({From:'tabsController.saved',param1:save.the_ID})" class="text-center"
              style="color: #2fb3ba;">{{save.clean_title}}</h2>
          <p ui-sref="messagetitle({From:'tabsController.saved',param1:save.the_ID})" style="white-space:normal;">{{save.the_excerpt}}</p>
          <img ng-click="favorites(save.the_ID)" style="background-color: yellowgreen;float:right;" width="20px"
               src="{{save.saved_stencil_img}}"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
