<ion-modal-view>

  <div class="bar bar-header item-input-inset" style="background:none; border:none;">
    <label class="item-input-wrapper" style="background:none; border-bottom:1px solid #ddd; border-radius:0;">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>

  </div>


  <ion-content class="has-header" padding="true" style="background:#fefefe;">
    <div class="padding">
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
      <div class="list">
        <div class="list_outer">
          <span class="deduct_location"><i class="ion-ios-paperplane-outline"></i></span>
          DETECT MY LOCATION

          <a class="search_item" href="#">
            Dubai Dubai Marina
          </a>
          <a class="search_item" href="#">
            Dubai Dubai Mall
          </a>
          <a class="search_item" href="#">
            Dubai food festival
          </a>
          <a class="search_item" href="#">
            Dubai Media City Dubai
          </a>
          <a class="search_item" href="#">
            Internet City Dubailand
          </a>
          <a class="search_item" href="#">
            Dubai Dubai Sports City
          </a>
          <a class="search_item" href="#">
            Dubai Investment Park
          </a>
        </div>

      </div>
    </div>
  </ion-content>
</ion-modal-view>
