<ion-view view-title="Register">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button button-clear">
      Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content overflow-scroll="false">
    <div class="list">
      <ion-item class="item item-body">
        <img style="display: block; margin:auto;" src="img/4SeSg1CTZK7MyOHdIqw8_IMG_09042016_115712.png" height="auto"
             width="100%">
      </ion-item>
    </div>
    <div class="list">
      <ion-item class="item" style="background:none;border:none;">
        <form name="myform" novalidate>
          <label class="item item-input outline_input">
            <input placeholder="Your Name" type="text" name="username" ng-pattern="/^[a-zA-Z0-9]*$/"
                   ng-model="user.username" required>
          </label>
          <span class="assertive" ng-show="myform.username.$dirty && myform.username.$error.pattern">Only special Characters allowed</span>
          <span class="assertive"
                ng-show="myform.username.$touched && myform.username.$error.required">field required</span>
          <div style="width: 283px; height: 13px;" class="spacer"></div>
          <label class="item item-input outline_input">
            <input placeholder="Email" type="email" name="email" ng-model="user.email" required>
          </label>
          <span class="assertive" ng-show="myform.email.$dirty && myform.email.$error.email">invalid email</span>
          <span class="assertive"
                ng-show="myform.email.$touched && myform.email.$error.required">Please Enter Email</span>
          <div style="width: 283px; height: 13px;" class="spacer"></div>
          <label class="item item-input outline_input">
            <input placeholder="Password" type="password" name="password" ng-model="user.password"
                   ng-pattern="/^[a-zA-Z0-9]*$/" required>
          </label>
          <span class="assertive" ng-show="myform.password.$dirty && myform.password.$error.pattern">Please use numbers/letters only</span>
          <span class="assertive" ng-show="myform.password.$touched && myform.password.$error.required">Please Enter Password</span>
          <div style="width: 283px; height: 13px;" class="spacer"></div>
          <label class="item item-input outline_input">
            <input placeholder="Confirm Password" type="password" name="cfpassword" ng-model="user.password_verify"
                   data-password-verify="user.password" required>
          </label>
          <span class="assertive" ng-show="myform.cfpassword.$dirty && myform.cfpassword.$error.passwordVerify">Fields are not equal!</span>
          <span class="assertive" ng-show="myform.cfpassword.$touched && myform.cfpassword.$error.required">Please Enter Confirm Password</span>
          <div style="width: 283px; height: 4px;" class="spacer"></div>
          <span style="color: rgb(228, 228, 228);">already have an account? <a ui-sref="login" class="energized" style="text-decoration:none;">LOG IN</a></span>
          <div style="width: 283px; height: 20px;" class="spacer"></div>
          <a class="text-center" style="width:100%;color: rgb(204, 204, 204);font-style:italic;" ui-sref="contest">Click here to know the Contest rules.</a>
          <div style="width: 283px; height: 13px;" class="spacer"></div>
          <button class="button button-energized button-block button-outline" ng-click="register(myform.$invalid)">
            SUBMIT
          </button>
        </form>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
