<ion-view title="Tabs Controller">
  <ion-tabs class="tabs-icon-only">
    <ion-tab icon="home" ui-sref="tabsController.home">
      <ion-nav-view name="homeView"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="account" ui-sref="tabsController.account">
      <ion-nav-view name="accountView"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="challenges" ui-sref="tabsController.yChallenges">
      <ion-nav-view name="yChallengesView"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="messages" ui-sref="tabsController.messages">
      <ion-nav-view name="messagesView"></ion-nav-view>
    </ion-tab>

    <ion-tab class="hidden">
      <ion-nav-view name="yChallengeView"></ion-nav-view>
    </ion-tab>
    <ion-tab class="hidden">
      <ion-nav-view name="yChallengeAcceptedView"></ion-nav-view>
    </ion-tab>
    <ion-tab class="hidden">
      <ion-nav-view name="yChallengeLimitReachedView"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
  <div ng-show="homeVisit" class="cover"
       style="position:absolute;background-color:#fff;width:100%;height:100%;z-index:999;left:0;top:0;"></div>
</ion-view>
