<ion-view>

  <ion-nav-bar></ion-nav-bar>
  <ion-nav-title>
    <ng-include src="'templates/categoryBar.html'"></ng-include>
  </ion-nav-title>

  <ion-content  overflow-scroll="false">

    <div class="l-ychallenge">

      <div class="l-ychallenge__main">
        <div class="b-challenge">
          <div class="b-challenge__thumbnail">
            <img ng-src="{{challenge.thumbnail_url}}" ng-if="challenge.thumbnail_url" alt="">
          </div>
          <div class="b-challenge__title">{{challenge.title}}</div>
          <div class="b-challenge__content" ng-bind-html="challenge.content"></div>
          <div class="b-challenge__buttons">
            <button ng-if="!challenge.status" ng-click="acceptClick(challenge)" class="b-challenge__accept-button">Accept</button>
            <button ng-if="challenge.status==1" ng-click="completeClick(challenge)" class="b-challenge__complete-button">Push<br/> when<br/> complete</button>
            <div ng-if="justCompleted" class="b-challenge__just-completed">Great job!</div>
            <div ng-if="challenge.status==4 && !justCompleted" class="b-challenge__completed">
              <img src="../img/new-design/check.svg" alt=""> <br/>
              Challenge complete!
            </div>

            <div class="b-challenge__pass-button-wrapper" ng-if="!challenge.status">
              <button ng-click="passClick(challenge)" class="b-challenge__pass-button">Pass</button>
            </div>
          </div>
          <div class="b-challenge__accepted-users" ng-if="challenge.accepted_users.length">
            <div class="b-challenge__accepted-users-number">{{challenge.accepted_users.length}}</div>
            <div class="b-challenge__accepted-user-image" ng-repeat="user in challenge.accepted_users" ng-bind-html="user.avatarHtml"></div>
          </div>
        </div>
      </div>

      <div class="l-ychallenge__comments">
        <div class="l-ychallenge__comment" ng-repeat="comment in challenge.comments">
          <div class="b-comment b-comment--depth-{{comment.comment_depth}}">
            <div class="b-comment__top">
              <div class="b-comment__author">{{comment.comment_author}}</div>
              <div class="b-comment__date">{{comment.comment_timestamp*1000 | date:'MMM dd - hh:mma'}}</div>
              <div class="b-comment__mark" ng-click="flagComment(comment.comment_ID)"><img src="../img/mark-comment.png" alt=""></div>
            </div>
            <div class="b-comment__middle">
              <div class="b-comment__author-avatar" ng-bind-html="comment.author_avatar_html"></div>
              <div class="b-comment__content">{{comment.comment_content}}</div>
            </div>
            <div class="b-comment__bottom">
              <div class="b-comment__reply-button" ng-click="addComment(comment.comment_ID)">reply</div>
            </div>
          </div>
        </div>
      </div>

      <div class="l-ychallenge__comment-button">
        <button class="b-comment-button" ng-click="addComment()">comment</button>
      </div>

      <div class="l-ychallenge__bottom">
        <div class="l-ychallenge__go-back">
          <div class="b-arrow-left" ng-click="goBack()">
            <div class="b-arrow-left__tr"></div>
            <div class="b-arrow-left__rect"></div>
            <div class="b-arrow-left__text">BACK</div>
          </div>
        </div>
        <div class="l-ychallenge__go-to-top"><img src="../img/new-design/up-arrow.svg" ng-click="scrollToTop()"></div>
      </div>

    </div>

  </ion-content>
</ion-view>
