<ion-view>
  <ion-content overflow-scroll="false">

    <div class="b-ch-accepted">
      <div class="b-ch-accepted__check-mark">
        <img src="../img/new-design/check-circle.svg" alt="">
      </div>
      <div class="b-ch-accepted__white-box">
        <div class="b-ch-accepted__title">you've accepted this challenge!</div>
        <div class="b-ch-accepted__message">{{message}}</div>
      </div>
      <div class="b-ch-accepted__go-to-next">
        <div class="b-ch-accepted__go-to-next-btn" ui-sref="tabsController.home">go to next challenge</div>
        <div class="b-ch-accepted__triangle" ui-sref="tabsController.home"></div>
      </div>
      <div class="b-ch-accepted__placeholder"></div>
      <div class="b-ch-accepted__back-to-this">
        <div class="b-arrow-left" ng-click="goBackToChallenge()">
          <div class="b-arrow-left__tr"></div>
          <div class="b-arrow-left__rect"></div>
          <div class="b-arrow-left__text">BACK TO THIS CHALLENGE</div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>


