<ion-view>

  <ion-nav-bar></ion-nav-bar>
  <ion-nav-title>
    <ng-include src="'templates/categoryBar.html'"></ng-include>
  </ion-nav-title>

  <ion-content  overflow-scroll="false">

    <div class="b-challenge-set-heading">
      <div class="b-challenge-set-heading__inner">
        Accepted Challenges
      </div>
    </div>

    <div ng-repeat="challenge in challenges" ng-if="challenge.status == 1" class="b-acc-challenge" ui-sref="tabsController.yChallenge({id: challenge.id})">
      <div class="b-acc-challenge__thumbnail" back-img="{{challenge.thumbnail_url}}" ng-style="{'border-color': challenge.category_color ? challenge.category_color : '#CD9706'}">
      </div>
      <div class="b-acc-challenge__title-time">
        <div class="b-acc-challenge__title" ng-style="{'color': challenge.category_color ? challenge.category_color : '#CD9706'}">{{challenge.title}}</div>
        <div class="b-acc-challenge__time">{{challenge.status_updated | daysPassed}}</div>
      </div>
    </div>

    <div class="b-challenge-set-heading">
      <div class="b-challenge-set-heading__inner">
        Completed Challenges
      </div>
    </div>

    <div ng-repeat="challenge in challenges" ng-if="challenge.status == 4" class="b-compl-challenge" ui-sref="tabsController.yChallenge({id: challenge.id})">
      <div class="b-compl-challenge__icon">
        <img ng-src="{{challenge.category_badge_url}}" alt="">
      </div>
      <div class="b-compl-challenge__title">{{challenge.title}}</div>
    </div>

  </ion-content>
</ion-view>
