<ion-view>
  <ion-content overflow-scroll="false">

    <div class="b-ch-limit-reached">
      <div class="b-ch-limit-reached__header">
        <img src="../img/new-design/you-challenged.png" alt="">
      </div>
      <div class="b-ch-limit-reached__main">
        <div class="b-ch-limit-reached__img">
          <img src="../img/new-design/fire.png" alt="">
        </div>
        <div class="b-ch-limit-reached__first-block">
          <div>whoa!</div>
          <div>you're on fire!</div>
        </div>
        <div class="b-ch-limit-reached__second-block">
          <div>you've reached your</div>
          <div class="b-ch-limit-reached__emphasize">5 challenge limit</div>
        </div>
        <div class="b-ch-limit-reached__third-block">
          <div>complete some of your</div>
          <div>accepted challenges to</div>
          <div>unlock more</div>
        </div>
        <button class="b-ch-limit-reached__button" ui-sref="tabsController.yChallenges">go to accepted challenges</button>
      </div>
    </div>

  </ion-content>
</ion-view>
