/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include styles that were written before starting using scss (written as plain CSS)
@import "styles-before-scss";

@import "home";
@import "account";
@import "yChallenge";
@import "yChallenges";
@import "messages";
@import "yChallengeLimitReached";
@import "yChallengeAccepted";
@import "contactUs";
@import "termsOfService";
@import "login";


// Common
.hidden{display: none}
.popup-without-title .popup-head{display: none}

.b-arrow-left{
  display: flex; align-items: center;
  &__tr{width: 0;height: 0;border-top: 6px solid transparent;border-bottom: 6px solid transparent;border-right: 7px solid white;}
  &__rect{width: 15px; height: 4px; background-color: white; margin-right: 5px;}
  &__text{color: white; font-size: 11px;}
}

.b-category-bar{
  display: flex; align-items: center; padding-left: 18px; height: 100%;
  &__img{width: 25px; height: 25px; img{width: 100%; height: 100%; display: block}}
  &__name{margin: 0 15px 0 10px; color: #347F89; font-size: 14px; text-transform: uppercase}
  &__progress-bar{background-color: #ADCCD0; flex: 1; height: 12px; position: relative}
    &__progress-bar-comp{position: absolute; top:0; left:0; bottom: 0; background-color: #056470;}
    &__progress-bar-text{line-height: 12px; padding-right: 12px; text-align: right; font-size: 10px; color: #297A85}
}



