.b-messages{
  background-color: #F1F1F1; height: 100%;
  &__line{border-bottom: 3px solid #E0E0E0; padding-top: 17px; &--big-gap{padding-top: 29px;}}
    &__top-img{width: 39px; height: 39px; border: 3px solid #A8841F; border-radius: 50%;
      margin: 0 auto; margin-top: -20px; overflow: hidden; img{width: 100%; height: 100%}}

  &__challenge-name{color: #AC8B2D; text-align: center; font-size: 12px; margin-top: 16px; margin-bottom: -27px;}

  &__gap{height: 7px}

  &__jump-to-top {text-align: center; margin: 20px 0 15px 0;}
}

.b-message{
  background-color: #F1F1F1; color: #999999; font-size: 12px;
  &__top{display: flex; padding: 7px 10px 0 10px;}
    &__author{flex: 1; color: #717171}
    &__date{padding-left: 30px;}
    &__mark{width: 14px; img{width: 100%;}}
  &__middle{display: flex; padding: 7px 15px 0 15px; align-items: center}
    &__author-avatar{
      width: 39px; height: 39px; border: 3px solid #A8841F; border-radius: 50%;
      overflow: hidden; img{width: 100%; height: 100%}}
    &__content{margin-left: 8px; flex: 1}
  &__bottom{padding: 0 8px 2px 8px; margin-top: -9px; display: flex; justify-content: flex-end}
    &__reply-button{text-transform: uppercase}

  &--reply{border: 3px solid #E0E0E0; margin: 0 15px 0 25px; padding-bottom: 7px;}
  &--reply &__author{flex: unset}
  &--reply &__date{flex: 1}
}


.messages-bar {border: 0}
