/* Styles that were written before starting using scss (plain CSS) */

@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto:100,300,400,500,700,900&subset=latin-ext';
/*

    font-family: 'Julius Sans One', sans-serif;

    font-family: 'Roboto', sans-serif;

*/
.platform-ios .manual-ios-statusbar-padding{
	padding-top:20px;
}
.manual-remove-top-padding{
	padding-top:0px;
}
.manual-remove-top-padding .scroll{
	padding-top:0px !important;
}
ion-content {
	background:#333;
}
.outline_input {
	background:none;
	color: #fff;
}
.outline_input input {
	color: #fff;
}
.fpass {
  color: #fff;
  float: left;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0;
  text-align: right;
  width: 100%;
}
.buttonRec{
	border-radius:0px 0px 0px 0px !important;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#333;
}
.slide-wrapper {
	width: 80%;
	margin: 15px auto 0;
}
.coachSlider {
	margin: 0 auto;
	height:100% !important;
	width: 100%;
	overflow: visible;
}
.coachSlide {
	height:100% !important;
	overflow: hidden;
	color: #000;
	text-align: center;
	margin:0 20px 0 -20px;
}
.coachSlider ion-slide.coachSlide.current {
	margin:0 40px 0 0;
}
.coachSlide:last-child {
	margin:0 -20px 0 -20px;
}
.coachSlider ion-slide.coachSlide:last-child.current {
	margin:0 -40px 0 0;
}
.coachSlide .slideImg{
	margin-top:20px;
	padding-top: 23px;
	width:100%;
	background-color:#fff !important;
}
.coachSlide .slideImg img{
    width: auto;
    max-height: 75%;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    height: auto;
}
.homeslide_textarea {
	position:relative;
	margin: 0 auto;
	display: table;
	padding: 0;
	max-width:90%;
	height:25%;
	max-height:25%;
	white-space:normal;
}
.homeslide_textarea #titlePos{
	display: table-cell;
	vertical-align: middle;
}
.homeslide_textarea h1 {
  color: #2fb3ba;
  font-size: 120%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin:0;
}
.top_heading {
	top: 0;left:0;right:0;
	margin: 0 auto;
	min-width: 20%;
	position: absolute;
	text-align: center;
	width: auto;
}
.titleCat {
	color: #fff;
	width:75%;
	margin:0 auto;
	font-size: 130%;
	font-weight: 300;
	padding: 10px 10px;
	text-transform: uppercase;
}
.top_heading1 {
	top: -10px;left:0;right:0;
	margin: 0 auto;
	min-width: 20%;
	position: absolute;
	text-align: center;
	width: auto;
	z-index:999;
}
.titleCat1 {
	color: #fff;
	width:50%;
	margin:10px auto;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 10px;
	text-transform: uppercase;
}
.top_heading2 {
	left:0;right:0;
	margin: -3px 0;
	min-width: 20%;
	position: absolute;
	text-align: center;
	z-index:999 !important;
}
.titleCat2 {
	color: #fff;
	width:50%;
	margin:10px auto;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 10px;
	text-transform: uppercase;
}
.bodySaved{
	width:100%;
	margin-top:20px;
	padding:10px 10px 45px;
	background:#fff;
}
.waveBar{
	position:absolute;
	bottom:0;
	right:5px;
}
#logo {
	margin: 30px 0px;
}
#list {
	width: 170px;
	margin: 30px auto;
	font-size: 20px;
}
#list ol {
	margin-top: 30px;
}
#list ol li {
	text-align: left;
	list-style: decimal;
	margin: 10px 0px;
}
.button.ng-hide {
	display:none;
}
 input::-moz-placeholder, textarea::-moz-placeholder {
 text-transform:uppercase;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*               [ Account ]                */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.user_img {
	border: 4px solid #fff;
	border-radius: 50%;
	height: 130px;
	overflow: hidden;
	position: absolute;
	width: 130px;
	z-index:2;
	top:-75px;
	left:0;right:0;
	margin:auto;
}
.user_img1 {
	border: 4px solid #fff;
	border-radius: 50%;
	height: 130px;
	width: 130px;
	overflow: hidden;
	margin:auto;
}
.user_img img {
	height: 100%;
	width: 100%;
}
.user_img1 img {
	height: 100%;
	width: 100%;
}
.profile-top{
	padding:60px 0 10px !important;
}
.profile-top h1 {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color:#333;
}

.profile-top h5 {
	font-size: 14px;
	color:#999;
}
.profile-top h4 {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
	margin-top:10px;
}
.card-profile h3 a{
	color:#333;
	font-weight:500;
	font-size:15px;
	word-wrap: break-word;
	white-space: normal;
	text-decoration: none;
}
.card-profile h4{
	font-size:12px;
	font-weight:100;
	font-style:italic;
}
.change_pass h3 {
	color: #999;
	font-size: 14px;
	font-style: italic;
}
.change_profile a{
	text-decoration: none;
	color:#444;
	font-size: 14px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*               [ Challenges ]             */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.testimonials {
	float:left;
	width:100%;
	background:#fff;

}
.list_challange {
	border: medium none;
	border-radius: 0 !important;
	float: left;
	margin-top: 20px;
	width: 100%;
}
.image_thumb {
	height: 100%;
	left: 0;
	max-height: 100px;
	max-width: 100px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.cover{
	width:100% !important;height:120% !important;
	background-color:#333;
	position:absolute !important;
	top:0 !important;
	left:0 !important;z-index:10;
}
.messageHeader{
	background:#fff;
	height:130px;
}
.coachImage img{
	margin:auto;
	display:block;
}
.coachName {
	background: rgba(255,255,255, 0.8);
	width:100%;
	padding:5px 0 !important;
	bottom: 40px;
	font-weight:bold;
	font-size: 10px;
	position: relative;
	margin-bottom:-40px;
	text-align: center;
	text-transform: uppercase;
}
.coachTesti{
	padding:10px 20px 0 0;
	font-style:italic;
	font-size:14px;
}
.coachTesti .client{
	color:#ccc;float:right;
}
.do_cot_t {
	position:absolute;
	top:5px;
}
.do_cot_b {
	position:relative;
	bottom:5px;
}
.coachFash{
	padding-right:10 10px 0 10px;
	font-style:italic;
}
.coachFash p{
	font-size:12px;
}
.clientFash {
    color: #999;
    float: right;
    font-size: 10px;
}
.testi_image {
	bottom: 0;
	overflow: hidden;
	padding-left: 15px;
	position: relative;
	width:100%;
            top: 12px;
}
.testi_image h4 {
	background: rgba(255, 255, 255, 0.5);
	bottom: 20px;
	font-size: 13px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	left:0;
}
.challange_list_item {
    background: #fff;
    float: left;
    margin-top: 20px;
    padding-left: 90px;
    padding-right: 77px;
    position: relative;
    width: 100%;
    text-decoration: none;
    min-height: 80px;
}
.image_thumb {
	height: 100%;
	left: 0;
	max-height: 80px;
	max-width: 80px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.image_thumb img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.challange_list_item h2 {
    color: #333;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
	margin-top:5px;
}
.strip_thumb {
	background: #ff0000;
	color: #fff;
	font-size: 10px;
	left: 0;
	margin: 0;
	padding: 3px 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100%;
}
.acc_chall {
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 11px;

  position: absolute;
  right:10px;
  text-align: center;
  text-transform: uppercase;
  top: 10px;
  width: 75px;
}
.acc_chall1 {
  color: #ccc;
  font-size: 11px;
  line-height: 15px;
  margin: 0 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 10px;
  width: 75px;
}
.acc_chall_comps {
    color: #ccc;
    font-size: 11px;
    margin: 0px 15px 0px 0px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    width: 60px;
    color: #f4be34;
}
.acc_chall_comp {
	border: 1px solid #f4be34;
	color: #ccc;
	font-size: 11px;
	margin: 0px 15px 0px 0px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 10px;
	width: 60px;
	color:#f4be34;
}
.acc_chall_comp1 {
  color: #f4be34;
  font-size: 11px;
  line-height: 15px;
  margin: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 10px;
  width: 75px;
}
.comp2 {
  float: right;
  width: 100%;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*          [ Fashion Messages ]            */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.testimonials_box {
	padding: 15px;
	position: relative;
}
.testimonials_box p {
	color: #333;
	font-style: italic;
	text-align: center;
	position:relative;
        font-size: 12px;
}
.chick {
  color: #2fb3ba;
  font-size: 17px;
  margin: 0;
  padding-top: 17px;
  text-transform: uppercase;
  font-weight:800;
}
.chick span {
  font-size: 14px;
  font-weight: 400;
}
.button_top {
	float: left;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.button_personal {
	background:none;
	border: 1px solid #2fb3ba;
	color: #2fb3ba;
	font-weight: 600;
	padding: 5px 10px;
	text-transform: uppercase;
}
.messages_sec1 {
	float: left;
	padding-top: 40px;
	width: 100%;
}
.messages_sec {
	float: left;
	padding-top: 0;
	width: 100%;
}
.readyGoal{
	position:relative;
	top:-5px;
}
.textGoal{
	position:relative;
	float:left;
	margin-right:2%;
	border:1px #30b3bb solid;
	width:78%;
	max-height:300px;
	background:transparent;
	margin-bottom:5px;
}
.textGoal pre{
	font-size:16px;
	margin:6px 12px 6px 5px;
	color: #30b3bb;
}
.textGoal .icon{
	position:absolute;
	top:3px;right:3px;
	color: #f4be34;
	font-size:18px;
}
.buttonGoal{
	position:relative;
	float:left;
	border:1px #30b3bb solid;
	width:20%;
	height:33px;
	background:transparent;
}
.buttonGoal h2{
	font-size:12px;
	margin:2px 0 0;
	color: #30b3bb;
	text-align:center;
}
.buttonSetGoal{
	position:relative;
	border:1px #30b3bb solid;
	top:-5px;
	width:100%;
	height:33px;
	background:transparent;
	margin-bottom:5px;
}
.buttonSetGoal h2{
	font-size:16px;
	color: #30b3bb;
	text-align:center;
	margin:5px 0 0;
}
.message_box {
	position:relative;
	float:left;
	max-height:150px;
	box-shadow: 0 0 5px #000;
	background: #fff;
}
.message_box .img_message{
	position:relative;
	float: left;
	width:40%;
	padding:0;
}
.mess_txt {
	position:relative;
	float:left;
	width:60%;
	padding:3px;
}
.mess_txt h1 {
	color: #2fb3ba;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	margin-bottom:5px;
}
.mess_txt p {
	color: #333;
	font-size: 12px;
	line-height:14px;
	margin: 0;
	position:relative;
}
.mess_txt p a {
	color: #999;
	font-size: 26px;
	position: absolute;
	right: 0;
	bottom:-5px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*                 [ Result ]               */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*.imgResult{
	position:absolute;
	top:20px;
	left:20px;
}
.imgResult img{
	width:150px;
}*/
.imgResult{
	padding: 20px;
    text-align: left;
    max-width: 450px;
    margin: 30px auto 0 auto;
}
.imgResult img{
	width: 100%;
}
.shareResult{
	position:absolute;
	top:180px;
	left:20px;
}
.textResult{
	width:100%;
	background-color:#fff;
	min-height:190px;
	/*padding:10px 10px 10px 170px;*/
	padding:10px;
}
.textResult p {
	color: #aaa;
	font-size: 14px;
	white-space:normal;
}
.textResult .titleResult {
	font-size: 20px;
	margin-bottom:10px;
	font-weight: normal;
	font-family: 'Julius Sans One', sans-serif;
}
.model_result{
	margin-top:10px;
	width:100%;
	background-color:#fff;
}
.model_result .result_head{
	top: 15px;left:0;right:0;
	margin: 0 auto;
	min-width: 20%;
	position: absolute;
	text-align: center;
	width: auto;
	font-size:18px;
	text-transform: uppercase;
}
.model_result .model_content{
	margin:auto;
	padding:40px 30px;
	display:block;
}
.result_box a {
    color: #f4be34;
    float: right;
    line-height: 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
    float: left;
    font-size: 12px;
}
.slide_textarea {
	padding: 10px;
}
.slide_textarea h1 {
	color: #f4be34;
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
}
.slide_textarea p {
	color: #666666;
	font-size: 17px;
	font-weight: 300;
}
.slider_box {
  width: 100%;
}
.slide_imgbox {
  height: 43vh;
  overflow: hidden;
  width: 100%;
  line-height:0;
}
.slide_imgbox img {
  max-height: inherit;
}
.slider_box h1 {
  background: #fff ;
  color: #2fb3ba;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width:100%;
}
.input_text {
	border: 1px solid #ccc !important;
	float: left;
	margin: 3% 15% 6%;
	text-align: center;
	width: 70%;
}
.camera img {
	height: auto;
	line-height: 0;
	margin-left: 10px;
	position: absolute;
	top: 12px;
	width: 30px;
}
.camera {
	background: rgba(0, 0, 0, 0.5);
	border: medium none;
	border-radius: 50%;
	height: 50px;
	left: 36px;
	line-height: 0;
	padding: 0 12px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 36px;
	vertical-align: middle;
	width: 50px;
}
.entj {
  float: left;
  left: 0;
  position: absolute;
  right: 0;
  width: 85px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*                  [ Home ]               */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.slider_box a {
	background: #fff;
	float: left;
	text-decoration: none;
}
.pre {
	float: left;
	left: 0;
	position: absolute;
	top: 5px;
	z-index:999;
}
.nxt {
	float: left;
	right: 0;
	position: absolute;
	top: 5px;
	z-index:999;
}
.homebox {
	background:none;
	padding: 14px 23px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*              [ One Message ]             */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.headding {
	color: #2fb3ba;
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Julius Sans One', sans-serif;
}
.one_message {
	background: #fff;
	float: left;
	padding: 10px;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	margin-top:5px;
}
.msg_img {
	width: 100%;
}
.msg_img img {
	border-radius: 12px;
	width: 100%;
}
.one_messsage p {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
  padding: 16px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*                  [ saved ]               */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.saved {
	float: left;
	margin-top: 15px;
	width: 100%;
}
.save_box {
  margin-bottom: 20px;
  padding:10px;
  width:100%;
  position:relative;
  background-color:#fff;
}
.pointReward{
	width: 200px;
	background:#2fb3ba;
	font-size:16px;
	color:#fff;
	padding:10px 5px;
	line-height:16px;
	position:relative;
	right:0;left:0;
	top:-20px;
	margin:auto;
}

.addReward{
	border-radius: 50%;
	background-color:#f4be34;
	width:40px;
	height:40px;
	position:absolute;
	right:5px;
	top:-10px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	padding-top:10px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*                   [ quiz ]               */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.row.quiz{
	margin:auto auto 30px;
}
.quiz_section {
  background: #fff;
  float: left;
  /*min-height: 590px;*/
  padding:0;
  text-align: center;
  width: 100%;
}
.quiz_sec {
  height: 100%;
  padding-top: 50px;
}
.quiz_section h1 {
    color: #f4be34;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 35px;
}

.quiz_section h3 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 28px;
}
.quiz_btn {
    width: auto;
    background: #f4be34;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
    padding: 6px 50px;
    color: #fff;
    text-transform: uppercase;
    border: none;
}
.quiz_outer {
  height: 100%;
  margin: 0;
  padding: 0;
}

#walkthrough .slider-pager-page {
  color: red !important;
}

#walkthrough .slider-pager-page.active {
  /*color: $golden-color !important;*/
}

.quiz_next {
  background: #f9f9f9;
  float: left;
  padding: 0 10px 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.quiz_next h1 {
  color: #f4be34;
  font-size: 22px;
  font-weight: 300;
}
.quiz_next p {
  color: #666666;
  font-size: 15px;
  font-weight: 300;
}

.question_box {
  text-align: left;
}
.question_no {
  color: #f4be34;
}
.checked_btn {
  background:none!important;
  border: 1px solid #f4be34;
  color: #f4be34;
  margin-bottom: 12px;
  text-align: center;
}

.time_right {
    color: #000;
    float: right;
    position: relative;
    width: auto;
}

.time_right img{
  left: -20px;
  padding-top: 5px;
  position: absolute;
  top: -6px;
  width: 15px;
}


.gallery_img {
  float: left;
  height: 16vh;
  overflow: hidden;
  padding: 7px;
  width: 29.6vw;
}
.gallery_img > a {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}
.gallery_img > a img {
    height: 100%;
    line-height: 0;
    position: absolute;
    width: 100%;
}

.process_strip {
  padding: 5px 0;
  margin:auto;
  width:100%;
}
.res_bx {
    background: #fff;
	border:1px #ccc solid;
    float: left;
    height: 23vh;
    margin: 12px 0 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 44%;
}
.hedtxt {
  font-size: 20px;
  font-weight: 300;
  margin-top: 40%;
  text-transform: uppercase;
}
.hedtxt1 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0%;
  text-transform: uppercase;
  margin:0;
}
.result_imge {
    margin: 12% 15% 0;
    height: 13vh;
}


/*==================tabs====================*/
.home {
  margin-top: 7px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-image: url('../img/new-design/tabs-home.png');
  width:33px;
}
.account {
  margin-top: 7px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-image: url('../img/new-design/tabs-account.png');
  width:23px;
}
.challenges {
  margin-top: 7px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-image: url('../img/new-design/tabs-challenges.png');
  width:30px;
}
.messages {
  margin-top: 7px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-image: url('../img/new-design/tabs-messages.png');
  width:37px;
}

.item-radio{
	padding-left:59px;
}


.checkbox input, .checkbox-icon {
position: absolute !important;
bottom: 15px !important;
right: 10px !important;
}

.select {
  background: #f4be34 !important;
}

/*----------------------Quiz--------------------------*/


.checkbox {
  float: left;
  height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 48%;
}
.checkbox {
  border: 1px solid #ddd;
  cursor: pointer;
  display: inline-block;
  margin: 1%;
  position: relative;
  padding: 0 !important;
  line-height: 0;
  background: #fff;
}
.checkbox img {
  bottom: 0;
  height: 100%;
  left: 0;
  line-height: 0;
  margin: auto;
  max-width: 170px;
  position: absolute;
  right: 0;
  top: 0;
}
.checkbox input {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 99;
}

/*------------------------*/

.entj img {
    width: 100%;
    height: auto;
}



/*==================Home Slide======================*/

.box.slide_home {
  background: #333;
  float: left;
  padding: 3px 7px 0px;
  width: 100%;
  position:relative;
}

.swiper-container {
        width: 500px;
        height: 300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}


.tablebase {
    float: left;
    width: 100%;
    background: #fff;
}

.tablebase table {
    width: 100%;
}

.tablebase table th,td {
    border: 1px solid #333;
}
.textadd{
    width: 100%;
    float: left;
}
.textadd textarea{
    width: 100%;
    float: left;
    height: 120px;
}

.pin_call {
    position: absolute;
    right: 19px;
    top: 30px;
}
.pin_call1{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.yellow_btn {
    border: 1px solid #f4be34 !important;
    background: none;
    color: #f4be34;
    border-radius: 0 !important;
    line-height: 47px;
}

.yellow_btn:hover{
    background:#f4be34 !important;
    color: #fff !important;
}
.thumb_head {
    overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}
.msg_main{
	color:#888;
}
.msg_main img{
    width: 100%;
    height: auto;
}
.btn_mess {
    width: auto;
    background: none;
    padding: 9px 20px;
    border: 1px solid #f4be34;
    color: #f4be34;
}
.goal_sec h2 {
    font-size: 17px;
    float: left;
    width: 100%;
    color: #fff;
}
.edit_btnn{
    position: absolute;
	top:55px;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}
.rewards {
    float: left;
    background: #fff;
    padding: 10px;
}
.rewards p {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 12px;
}
.rewards p span {
    color: #f4be34;
}



.model_outer {
    padding: 20px;
    float: left;
    width: 100%;
}
.check_txt {
    float: left;
    padding: 20px 10px;
}

.custom_radio label {
    padding: 0 5px !important;
}
.custom_radio i {
    padding: 0 5px !important;
    margin: 0px auto !important;
    left: 40%;
}

.pop_imgs img {
    width: 100%;
    height: auto;
}
b, strong {
    font-weight: bold;
    margin-right: 5px;
}
.item{
     font-weight: 400;
}
.item {
    padding: 12px 16px;
}
.padding {
    padding: 0 15px;
}
.bar-footer {
/*    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;*/
    height: 45px;
}

ion-content.has-header.pqr.scroll-content.ionic-scroll{
    top: 0px !important;
}

/*.title.title-center.header-item {
    width: 100% !important;
    float: left;
    text-align: center;
    margin: 0px !important;
    right: 0px !important;
    left: 0px !important;
    height: auto;
}*/
.catg{
    width:100%;
    float:left;
}
.catg1{
    width:70%;
    float:left;
    text-align:left;
}
.catg1 a{
    text-decoration: none;
    color: #0000f0;
}
.catg2 a{
    text-decoration: none;
    color: #3b5998;
}
i.ion-social-facebook{
    margin-right:5px;
}
.catg2 {
    width: 30%;
    float: left;
    text-align: right;
    margin-top: 15px;
}
/*button.button.back-button.buttons.button-icon.icon.ion-ios-arrow-back.header-item {
    display: none;
}*/
h6.ng-binding {
    font-size: 20px;
     color: gold;
}
ul {
  list-style-type: disc;
  padding-left:15px;
}
.msg_main iframe{
	max-width: 100%;
}
.read-more-link{
	font-weight: 700;
	color: #f4be34;
}



