.b-tos{
  display: flex; flex-direction: column; height: 100%;
  &__top{display: flex; padding: 0 15px;}
    &__title{color: white; font-size: 50px; line-height: 46px; transform: scale(1, 1.7); margin-top: 35px; margin-bottom: 50px; flex: 1}
    &__close{color: white; font-size: 18px; margin-top: 13px;}
  &__content{flex: 1; background-color: #EAEAEA; overflow-y: scroll; padding: 10px; font-size: 14px; p{margin-bottom: 15px;}}
  &__bottom{background-color: white}
    &__update{color: #AFAFAF; text-align: center; margin: 10px 30px;}
    &__accept-wrapper{text-align: center}
      &__accept{display: flex; border: 2px solid #5D5D5D; display: inline-block; padding: 5px 20px 5px 10px;}
        &__checkbox{float: left; width: 20px; height: 20px; border: 1px solid #5D5D5D}
        &__checked{float: left; width: 20px; height: 20px; img{width: 100%}}
        &__accept-text{float: left; margin-left: 15px;}
    &__continue-wrapper{text-align: center; margin: 3px 0 12px 0;}
      &__continue{background-color: #60BA46; color: #FAFDFA; display: inline-block; border-radius: 10px; padding: 5px 40px;}
      &__continue--disabled{background-color: #BCE2B1}
}
