.b-challenge-set-heading{
  display: flex; align-items: center; margin: 20px 0;
  &:after, &:before{display: block; content: ''; flex: 1; border-top: 3px solid #D5D5D5;}
  &__inner{text-transform: uppercase; color: #D5D5D5; border: 2px solid #D5D5D5; border-radius: 4px; padding: 2px 15px;}
}

.b-acc-challenge{
  display: flex; align-items: center; margin: 0 15px 15px 15px;
  &__thumbnail{width: 80px; height: 80px; border: 2px solid; background-size: cover; background-position: center }
  &__title-time{background-color: white; height: 67px; flex: 1; text-align: center}
    &__title{text-transform: uppercase; font-size: 23px; margin-top: 13px;}
    &__time{margin-top: 5px; color: #9A9A9A}
}

.b-compl-challenge{
  display: flex; align-items: center; margin: 0 33px 10px 33px;
  &__icon{margin-right: 15px; width: 25px; img{width: 100%}}
  &__title{color: white; text-transform: uppercase; margin-bottom: 3px;}
}
