.b-ch-accepted{
  padding: 0 10px 9px 10px; position: relative; display: flex; flex-direction: column;
  &__check-mark{position: absolute; top: 22px; left: 0; right: 0; text-align: center; img{width: 60%}}
  &__white-box{background-color: white; padding: 105px 15px 22px 15px; margin-top: 137px;}
    &__title{color: #5BB741; text-align: center; text-transform: uppercase; line-height: 29px; font-size: 22px}
    &__message{color: #454545; font-size: 20px; margin-top: 22px;}
  &__go-to-next{display: flex; justify-content: center; margin-top: 15px;}
    &__go-to-next-btn{background-color: #056470; color: white; text-transform: uppercase; border: 0;
      padding: 13px 0 13px 16px; font-size: 18px}
    &__triangle{width: 0;height: 0;border-top: 23px solid transparent;border-bottom: 23px solid transparent;border-left: 16px solid #056470;}
  &__back-to-this{margin-top: 20px;}
}
