.b-ch-limit-reached{
  text-align: center; color: white; text-transform: uppercase; font-size: 20px; line-height: 26px;
  &__header{background-color: #F1F1F1; display: flex; justify-content: center;
    align-items: center; height: 42px; img{width: 150px}}
  &__img{margin: 20px 0 10px 0; img{width: /*95px*/ 85px}}
  &__first-block, &__second-block{margin-bottom: /*25px*/ 20px;}
  &__third-block{margin-bottom: 18px;}
  &__emphasize{color: #F7BB25}
  &__button{background: transparent; border: 2px solid #F7BB25; text-transform: uppercase; color: #F7BB25;
    border-radius: 2px; padding: 4px 11px;}
}
